Repository donato-marcos/Atv4_Kubernetes_Jenkins_CompassUOL: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend, Push Backend, Push Frontend, Create Namespace, Deploy Ingress

Build Backend:
              steps {
                  script {
                      backendapp = docker.build("${env.DOCKER_USER}/atv4_backend:${env.BUILD_ID}", '--no-cache -f ./backend/Dockerfile ./backend')
                  }
              }
          

Build Frontend:
              steps {
                  script {
                      frontendapp = docker.build("${env.DOCKER_USER}/atv4_frontend:${env.BUILD_ID}", '--no-cache -f ./frontend/Dockerfile ./frontend')
                  }
              }
          

Push Backend:
                      steps {
                          script {
                              docker.withRegistry("https://${env.DOCKER_REGISTRY}", env.DOCKER_CREDENTIALS) {
                                  backendapp.push('latest')
                                  backendapp.push("${env.BUILD_ID}")
  ...

Push Frontend:
                      steps {
                          script {
                              docker.withRegistry("https://${env.DOCKER_REGISTRY}", env.DOCKER_CREDENTIALS) {
                                  frontendapp.push('latest')
                                  frontendapp.push("${env.BUILD_ID}")
  ...

Create Namespace:
              steps {
                  withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                      sh 'kubectl apply -f k8s/namespace.yaml'
                  }
              }
          

Deploy Ingress:
                      steps {
                          withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                              sh 'kubectl apply -f k8s/ingress.yaml'
                          }
                      }
                  

Update Jenkinsfile
  Jenkinsfile
Due: none

Update frontend.yaml
  k8s/frontend.yaml
Due: none

Update backend.yaml
  k8s/backend.yaml
Due: none

Update main.py
  backend/main.py
Due: Build Backend, Push Backend

Update ingress.yaml
  k8s/ingress.yaml
Due: Deploy Ingress

Update nginx.conf
  frontend/nginx.conf
Due: Build Frontend, Push Frontend

Update index.html
  frontend/index.html
Due: Build Frontend, Push Frontend

Add files via upload
  cluster-kubernetes.md
Due: none

Update cluster-kubernetes.md
  cluster-kubernetes.md
Due: none

Add files via upload
  jenkins.md
Due: none

Add files via upload
  configuracao-pipeline_jenkins.md
Due: none

Update configuracao-pipeline_jenkins.md
  configuracao-pipeline_jenkins.md
Due: none

Create README.md
  README.md
Due: none

Update jenkins.md
  jenkins.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
  Push Backend: any of: backend/**
  Push Frontend: any of: frontend/**
  Create Namespace: any of: k8s/namespace.yaml
  Deploy Ingress: any of: k8s/ingress.yaml
