Repository donato-marcos/Atv4_Kubernetes_Jenkins_CompassUOL: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend, Push Backend, Push Frontend, Create Namespace, Deploy Ingress

Jenkinsfile:

pipeline {
    agent any

    triggers {
        pollSCM('')
    }

    environment {
        DOCKER_REGISTRY = 'registry.hub.docker.com'
        DOCKER_USER = 'aesthar'
        DOCKER_CREDENTIALS = 'dockerhub'
        KUBE_CREDENTIALS = 'kubeconfig'
    }

    stages {
        stage('Build Backend') {
            when {
                changeset "backend/**"
            }
            steps {
                script {
                    backendapp = docker.build("${env.DOCKER_USER}/atv4_backend:${env.BUILD_ID}", '--no-cache -f ./backend/Dockerfile ./backend')
                }
            }
        }

        stage('Build Frontend') {
            when {
                changeset "frontend/**"
            }
            steps {
                script {
                    frontendapp = docker.build("${env.DOCKER_USER}/atv4_frontend:${env.BUILD_ID}", '--no-cache -f ./frontend/Dockerfile ./frontend')
                }
            }
        }

        stage('Push Images') {
            parallel {
                stage('Push Backend') {
                    when {
                        changeset "backend/**"
                    }
                    steps {
                        script {
                            docker.withRegistry("https://${env.DOCKER_REGISTRY}", env.DOCKER_CREDENTIALS) {
                                backendapp.push('latest')
                                backendapp.push("${env.BUILD_ID}")
                            }
                        }
                    }
                }
                stage('Push Frontend') {
                    when {
                        changeset "frontend/**"
                    }
                    steps {
                        script {
                            docker.withRegistry("https://${env.DOCKER_REGISTRY}", env.DOCKER_CREDENTIALS) {
                                frontendapp.push('latest')
                                frontendapp.push("${env.BUILD_ID}")
                            }
                        }
                    }
                }
            }
        }

        stage('Create Namespace') {
            when {
                changeset "k8s/namespace.yaml"
            }
            steps {
                withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                    sh 'kubectl apply -f k8s/namespace.yaml'
                }
            }
        }

        stage('Deploy Applications') {
            parallel {
                stage('Deploy Backend') {
                    steps {
                        script {
                            withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                                sh "sed -i 's/{{tag}}/${env.BUILD_ID}/g' ./k8s/backend.yaml"
                                sh 'kubectl apply -f k8s/backend.yaml'
                            }
                        }
                    }
                }
                stage('Deploy Frontend') {
                    steps {
                        script {
                            withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                                sh "sed -i 's/{{tag}}/${env.BUILD_ID}/g' ./k8s/frontend.yaml"
                                sh 'kubectl apply -f k8s/frontend.yaml'
                            }
                        }
                    }
                }
                stage('Deploy Ingress') {
                    when {
                        changeset "k8s/ingress.yaml"
                    }
                    steps {
                        withKubeConfig([credentialsId: env.KUBE_CREDENTIALS]) {
                            sh 'kubectl apply -f k8s/ingress.yaml'
                        }
                    }
                }
            }
        }
    }
}

Update index.html
  frontend/index.html
Due: Build Frontend, Push Frontend

Update main.py
  backend/main.py
Due: Build Backend, Push Backend

Update frontend.yaml
  k8s/frontend.yaml
Due: none

Versão 1.1
  k8s/frontend.yaml
Due: none

Versão 2.0
  frontend/index.html
Due: Build Frontend, Push Frontend

Versão 2.0
  k8s/frontend.yaml
Due: none

Update cluster-kubernetes.md
  cluster-kubernetes.md
Due: none

Add files via upload
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/ingress.yaml
  k8s/metallb-config.yaml
Due: Deploy Ingress

Add files via upload
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/ingress.yaml
Due: Deploy Ingress

Update Jenkinsfile
  Jenkinsfile
Due: none

Update backend.yaml
  k8s/backend.yaml
Due: none

Update configuracao-pipeline_jenkins.md
  configuracao-pipeline_jenkins.md
Due: none

Update README.md
  README.md
Due: none

Update
  cluster-kubernetes.md
Due: none

pequenas mudanças
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/ingress.yaml
Due: Deploy Ingress

update
  Jenkinsfile
Due: none

Frontend refeito
  frontend/icons/docker.svg
  frontend/icons/github.svg
  frontend/icons/jenkins.svg
  frontend/icons/kubernetes.svg
  frontend/icons/linux.svg
  frontend/icons/ubuntu.svg
  frontend/icons/vscode.svg
  frontend/index.html
  frontend/script.js
  frontend/style.css
Due: Build Frontend, Push Frontend

Jenkinfile atualizado
  Jenkinsfile
Due: none

Diversas mudanças
  Jenkinsfile
  frontend/index.html
  jenkins.md
Due: Build Frontend, Push Frontend

Separação do script.js e melhoria no frontend.yaml
  frontend/api.js
  frontend/index.html
  frontend/theme.js
  k8s/frontend.yaml
Due: Build Frontend, Push Frontend

bug em api.js
  frontend/api.js
Due: Build Frontend, Push Frontend

Melhorias pontuais na documentação
  cluster-kubernetes.md
  jenkins.md
Due: none

atualização
  backend/Dockerfile
  frontend/nginx.conf
Due: Build Backend, Build Frontend, Push Backend, Push Frontend

Update Dockerfile
  backend/Dockerfile
Due: Build Backend, Push Backend

Fix CMD host argument in Dockerfile
  backend/Dockerfile
Due: Build Backend, Push Backend
